@import "variables";

.layout {
  display: grid;
  grid-template-columns: 400px;
  gap: 50px;
  height: 70vh;
  justify-content: center;
  align-content: center;
  overflow-y: auto;

  span {
    color: $hoverColor;
  }
  h1 {
    font-weight: 300;
    padding-bottom: 50px;
  }
}
.stack {
  ul {
    margin-top: 20px;
    margin-bottom: 20px;
    h4 {
      color: $hoverColor;
    }
    li {
      display: inline;
      margin-right: 10px;
      color: $lightText;
    }
  }
}
.resume {
  margin-top: 20px;
}
.resumeLink {
  color: $hoverColor;
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
}

// .inner {
//   padding: 15px;
//   border: 1.5px solid;
//   // border-color: $hoverColor;
//   border-radius: 20px;
// }
