@import "variables";

.layout {
  display: grid;
  grid-template-columns: 400px;
  gap: 50px;
  height: 70vh;
  justify-content: center;
  align-content: center;
  overflow-y: auto;

  h1 {
    font-weight: 300;
    padding-bottom: 50px;
    span {
      color: $hoverColor;
    }
  }
}

// .inner {
//   padding: 15px;
//   border: 1.5px solid;
//   // border-color: $hoverColor;
//   border-radius: 20px;
// }
