@import "variables";

.layout {
  display: grid;
  grid-template-columns: 400px;
  gap: 50px;
  height: 70vh;
  justify-content: center;
  align-content: center;
  overflow-y: auto;
  h1 {
    font-weight: 300;
    span {
      color: $hoverColor;
    }
  }
  li {
    margin-bottom: 50px;
    list-style-type: none;
    h3 {
      transition: 0.5s;
    }
    h3:hover {
      color: $hoverColor;
    }
    .description {
      margin-top: 7px;
      p {
        color: $lightText;
      }
    }
  }
}
