@import "variables";

.layout {
  display: grid;
  grid-template-columns: 300px;
  gap: 50px;
  height: 70vh;
  justify-content: center;
  align-content: center;
  overflow-y: auto;

  h3 {
    color: $hoverColor;
  }
}
