@import "variables";

.welcome {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: flex-start;
  width: 30%;
  height: 70vh;

  h1 {
    font-weight: 300;
    span {
      color: $hoverColor;
    }
  }
  h3 {
    padding-top: 10px;
    font-weight: 300;
  }
}

.aboutLink {
  color: $hoverColor;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
